<?xml version="1.0" encoding="UTF-8"?>
<web-app xmlns:xsi="http://www.w3.org/2001/XMLSchema-instance" xmlns="https://jakarta.ee/xml/ns/jakartaee" xmlns:jsp="http://java.sun.com/xml/ns/javaee/jsp" xmlns:web="http://xmlns.jcp.org/xml/ns/javaee" xsi:schemaLocation="https://jakarta.ee/xml/ns/jakartaee https://jakarta.ee/xml/ns/jakartaee/web-app_5_0.xsd http://xmlns.jcp.org/xml/ns/javaee http://java.sun.com/xml/ns/javaee/web-app_2_5.xsd" id="WebApp_ID" version="5.0">
  <display-name>webproject</display-name>
  <welcome-file-list>
    <welcome-file>Login.jsp</welcome-file>
    <welcome-file>index.jsp</welcome-file>
    <welcome-file>index.htm</welcome-file>
    <welcome-file>default.html</welcome-file>
    <welcome-file>default.jsp</welcome-file>
    <welcome-file>default.htm</welcome-file>
  </welcome-file-list>
  <jsp-config>
    <jsp-property-group>
      <url-pattern>*.jsp</url-pattern>
      <include-prelude>/taglibs.jsp</include-prelude>
    </jsp-property-group>
  </jsp-config>
  <servlet>
    <description></description>
    <display-name>Login</display-name>
    <servlet-name>Login</servlet-name>
    <servlet-class>com.webproject.servlets.Login</servlet-class>
  </servlet>
  <servlet-mapping>
    <servlet-name>Login</servlet-name>
    <url-pattern>/login</url-pattern>
  </servlet-mapping>
  <servlet>
    <description></description>
    <display-name>Employees</display-name>
    <servlet-name>Employees</servlet-name>
    <servlet-class>com.webproject.servlets.Employees</servlet-class>
  </servlet>
  <servlet-mapping>
    <servlet-name>Employees</servlet-name>
    <url-pattern>/users</url-pattern>
  </servlet-mapping>
  <servlet>
    <description></description>
    <display-name>AddUser</display-name>
    <servlet-name>AddUser</servlet-name>
    <servlet-class>com.webproject.servlets.AddUser</servlet-class>
  </servlet>
  <servlet-mapping>
    <servlet-name>AddUser</servlet-name>
    <url-pattern>/addUser</url-pattern>
  </servlet-mapping>
  <servlet>
    <description></description>
    <display-name>UpdateUser</display-name>
    <servlet-name>UpdateUser</servlet-name>
    <servlet-class>com.webproject.servlets.UpdateUser</servlet-class>
  </servlet>
  <servlet-mapping>
    <servlet-name>UpdateUser</servlet-name>
    <url-pattern>/update</url-pattern>
  </servlet-mapping>
  <servlet>
    <description></description>
    <display-name>AddContrat</display-name>
    <servlet-name>AddContrat</servlet-name>
    <servlet-class>com.webproject.contrats.servlets.AddContrat</servlet-class>
  </servlet>
  <servlet-mapping>
    <servlet-name>AddContrat</servlet-name>
    <url-pattern>/addContrat</url-pattern>
  </servlet-mapping>
  <servlet>
    <description></description>
    <display-name>ListContrat</display-name>
    <servlet-name>ListContrat</servlet-name>
    <servlet-class>com.webproject.contrats.servlets.ListContrat</servlet-class>
  </servlet>
  <servlet-mapping>
    <servlet-name>ListContrat</servlet-name>
    <url-pattern>/contrats</url-pattern>
  </servlet-mapping>
  <servlet>
    <description></description>
    <display-name>AdminDash</display-name>
    <servlet-name>AdminDash</servlet-name>
    <servlet-class>com.webproject.servlets.AdminDash</servlet-class>
  </servlet>
  <servlet-mapping>
    <servlet-name>AdminDash</servlet-name>
    <url-pattern>/adashboard</url-pattern>
  </servlet-mapping>
  <servlet>
    <description></description>
    <display-name>Logout</display-name>
    <servlet-name>Logout</servlet-name>
    <servlet-class>com.webproject.servlets.Logout</servlet-class>
  </servlet>
  <servlet-mapping>
    <servlet-name>Logout</servlet-name>
    <url-pattern>/logout</url-pattern>
  </servlet-mapping>
  <servlet>
    <description></description>
    <display-name>SuppUser</display-name>
    <servlet-name>SuppUser</servlet-name>
    <servlet-class>com.webproject.servlets.SuppUser</servlet-class>
  </servlet>
  <servlet-mapping>
    <servlet-name>SuppUser</servlet-name>
    <url-pattern>/supp</url-pattern>
  </servlet-mapping>
  <servlet>
    <description></description>
    <display-name>ListCongees</display-name>
    <servlet-name>ListCongees</servlet-name>
    <servlet-class>com.webproject.conges.servlets.ListCongees</servlet-class>
  </servlet>
  <servlet-mapping>
    <servlet-name>ListCongees</servlet-name>
    <url-pattern>/congees</url-pattern>
  </servlet-mapping>
  <servlet>
    <description></description>
    <display-name>EmpDash</display-name>
    <servlet-name>EmpDash</servlet-name>
    <servlet-class>com.webproject.servlets.EmpDash</servlet-class>
  </servlet>
  <servlet-mapping>
    <servlet-name>EmpDash</servlet-name>
    <url-pattern>/empdash</url-pattern>
  </servlet-mapping>
  <servlet>
    <description></description>
    <display-name>DemandConge</display-name>
    <servlet-name>DemandConge</servlet-name>
    <servlet-class>com.webproject.conges.servlets.DemandConge</servlet-class>
  </servlet>
  <servlet-mapping>
    <servlet-name>DemandConge</servlet-name>
    <url-pattern>/demandeconge</url-pattern>
  </servlet-mapping>
  <servlet>
    <description></description>
    <display-name>MesConges</display-name>
    <servlet-name>MesConges</servlet-name>
    <servlet-class>com.webproject.conges.servlets.MesConges</servlet-class>
  </servlet>
  <servlet-mapping>
    <servlet-name>MesConges</servlet-name>
    <url-pattern>/mesconges</url-pattern>
  </servlet-mapping>
  <servlet>
    <description></description>
    <display-name>ListePostes</display-name>
    <servlet-name>ListePostes</servlet-name>
    <servlet-class>com.webproject.postes.servlets.ListePostes</servlet-class>
  </servlet>
  <servlet-mapping>
    <servlet-name>ListePostes</servlet-name>
    <url-pattern>/postes</url-pattern>
  </servlet-mapping>
  <servlet>
    <description></description>
    <display-name>AddPoste</display-name>
    <servlet-name>AddPoste</servlet-name>
    <servlet-class>com.webproject.postes.servlets.AddPoste</servlet-class>
  </servlet>
  <servlet-mapping>
    <servlet-name>AddPoste</servlet-name>
    <url-pattern>/addposte</url-pattern>
  </servlet-mapping>
  <servlet>
    <description></description>
    <display-name>UpdatePoste</display-name>
    <servlet-name>UpdatePoste</servlet-name>
    <servlet-class>com.webproject.postes.servlets.UpdatePoste</servlet-class>
  </servlet>
  <servlet-mapping>
    <servlet-name>UpdatePoste</servlet-name>
    <url-pattern>/updateposte</url-pattern>
  </servlet-mapping>
  <servlet>
    <description></description>
    <display-name>DeletePoste</display-name>
    <servlet-name>DeletePoste</servlet-name>
    <servlet-class>com.webproject.postes.servlets.DeletePoste</servlet-class>
  </servlet>
  <servlet-mapping>
    <servlet-name>DeletePoste</servlet-name>
    <url-pattern>/deleteposte</url-pattern>
  </servlet-mapping>
  <servlet>
    <description></description>
    <display-name>UpdateContrat</display-name>
    <servlet-name>UpdateContrat</servlet-name>
    <servlet-class>com.webproject.contrats.servlets.UpdateContrat</servlet-class>
  </servlet>
  <servlet-mapping>
    <servlet-name>UpdateContrat</servlet-name>
    <url-pattern>/updatecontrat</url-pattern>
  </servlet-mapping>
  <servlet>
    <description></description>
    <display-name>DeleteContrat</display-name>
    <servlet-name>DeleteContrat</servlet-name>
    <servlet-class>com.webproject.contrats.servlets.DeleteContrat</servlet-class>
  </servlet>
  <servlet-mapping>
    <servlet-name>DeleteContrat</servlet-name>
    <url-pattern>/deletecontrat</url-pattern>
  </servlet-mapping>
  <servlet>
    <description></description>
    <display-name>UpdateCongee</display-name>
    <servlet-name>UpdateCongee</servlet-name>
    <servlet-class>com.webproject.conges.servlets.UpdateCongee</servlet-class>
  </servlet>
  <servlet-mapping>
    <servlet-name>UpdateCongee</servlet-name>
    <url-pattern>/updatecongee</url-pattern>
  </servlet-mapping>
  <servlet>
    <description></description>
    <display-name>DeleteConge</display-name>
    <servlet-name>DeleteConge</servlet-name>
    <servlet-class>com.webproject.conges.servlets.DeleteConge</servlet-class>
  </servlet>
  <servlet-mapping>
    <servlet-name>DeleteConge</servlet-name>
    <url-pattern>/deletecongee</url-pattern>
  </servlet-mapping>
  <servlet>
    <description></description>
    <display-name>AddConge</display-name>
    <servlet-name>AddConge</servlet-name>
    <servlet-class>com.webproject.conges.servlets.AddConge</servlet-class>
  </servlet>
  <servlet-mapping>
    <servlet-name>AddConge</servlet-name>
    <url-pattern>/addcongee</url-pattern>
  </servlet-mapping>
</web-app>